requests
starlette
loguru
dependency-injector
firebase-admin
fastapi
uvicorn
sqlalchemy
sqlalchemy[asyncio]
psycopg[binary]
pydantic
pydantic-settings
alembic
cloudinary
apscheduler
python-multipart
jinja2
mailersend
redis
aioredis
websockets
urlquote